[submodule "runtimes"]
	path = runtimes
	url = https://github.com/polkadot-fellows/runtimes.git
	branch = dev-asset-hub-migration
[submodule "polkadot-ecosystem-tests"]
	path = polkadot-ecosystem-tests
	url = https://github.com/open-web3-stack/polkadot-ecosystem-tests.git
	branch = ahm-tests
[submodule "zombie-bite/polkadot-sdk-doppelganger"]
	path = zombie-bite/polkadot-sdk-doppelganger
	url = https://github.com/paritytech/polkadot-sdk.git
	branch = jv-doppelganger-node
[submodule "paseo-runtimes"]
	path = paseo-runtimes
	url = https://github.com/paseo-network/runtimes.git
