[submodule "runtimes"]
	path = runtimes
	url = https://github.com/polkadot-fellows/runtimes.git
	branch = dev-asset-hub-migration
[submodule "polkadot-ecosystem-tests"]
	path = polkadot-ecosystem-tests
	url = https://github.com/open-web3-stack/polkadot-ecosystem-tests.git
	branch = ahm-tests
[submodule "paseo-ahm"]
	path = paseo-runtimes
	url = https://github.com/paritytech/paseo-ahm.git
	branch = dev-ahm
[submodule "ahm-monitor"]
	path = ahm-monitor
	url = https://github.com/paritytech/asset-hub-migration-monitor.git
