[submodule "runtimes"]
	path = runtimes
	url = git@github.com:polkadot-fellows/runtimes.git
	branch = dev-asset-hub-migration
[submodule "polkadot-ecosystem-tests"]
	path = polkadot-ecosystem-tests
	url = git@github.com:open-web3-stack/polkadot-ecosystem-tests.git
	branch = ahm-tests
