name: PET Common

on:
  workflow_call:
    inputs:
      network:
        required: true
        type: string
      run-id:
        description: "optional run-id to download the artifacts"
        required: false
        type: string

env:
  ZOMBIE_BITE_BASE_PATH: "/tmp/ci"
  AHM_BINS: "/tmp"
  RUSTFLAGS: "-A warnings"
  ZOMBIE_RM_TGZ_AFTER_EXTRACT: "1"

jobs:
  run_pet_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Free Disk Space (Ubuntu)
        if: ${{ runner.environment == 'github-hosted' }}
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          tool-cache: false

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: extractions/setup-just@v2

      - name: Fetch cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2.8.0
        with:
          shared-key: "ahm-cache"
          cache-on-failure: true # cache allways

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: deps (Ubuntu)
        if: ${{ runner.environment == 'github-hosted' }}
        shell: bash
        run: |
          sudo apt-get install protobuf-compiler

      - name: install_pet_deps
        shell: bash
        run: |
          npm install -g yarn
          yarn install

      - name: run_polkadot_ecosystem_tests
        shell: bash
        env:
          NETWORK: ${{ inputs.network }}
        run: |
          echo "::group::run-polkadot-ecosystem-tests"

          # Run E2E tests, in priority-ordered stages. Include relay E2E tests.
          just staged-e2e-tests ${{ inputs.network }} all
          echo "::endgroup::"
