name: Zombie-bite

on:
  workflow_dispatch:
    inputs:
      sudo-key:
        description: 'Sudo key to use as override (optional, default is //Alice)'
        required: false

  schedule:
    - cron:  '0 0 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  zombie_bite_polkadot:
    uses: ./.github/workflows/zombie-bite-common.yml
    with:
      network: polkadot
      sudo-key: ${{ inputs.sudo-key }}

  # TODO (Javier): westend doesn't works with doppelganger, I will implement fork-off (in genesis) as alternative
  # zombie_bite_westend:
  #   uses: ./.github/workflows/zombie-bite-common.yml
  #   with:
  #     network: westend
  #     sudo-key: ${{ inputs.sudo-key }}